pkgbase = meshchatx-bin
	pkgdesc = All-in-one Reticulum client (prebuilt AppImage)
	pkgver = 4.8.5
	pkgrel = 1
	url = https://github.com/Quad4-Software/MeshChatX
	install = meshchatx-bin.install
	arch = x86_64
	arch = aarch64
	license = 0BSD
	license = MIT
	depends = fuse2
	optdepends = noto-fonts-emoji: color emoji in the UI
	provides = meshchatx
	provides = reticulum-meshchatx
	conflicts = meshchatx-git
	replaces = meshchatx
	options = !strip
	options = !debug
	source = https://github.com/Quad4-Software/MeshChatX/archive/refs/tags/v4.8.5.tar.gz
	sha256sums = 09274f5532221d47597afff49583a86092c58767a0579409b988338a46c8f552
	source_x86_64 = ReticulumMeshChatX-v4.8.5-linux-x86_64.AppImage::https://github.com/Quad4-Software/MeshChatX/releases/download/v4.8.5/ReticulumMeshChatX-v4.8.5-linux-x86_64.AppImage
	sha256sums_x86_64 = d3f7e417b75791f38fcad7a3608961f499e1b92b076f161db685aad66b023381
	source_aarch64 = ReticulumMeshChatX-v4.8.5-linux-arm64.AppImage::https://github.com/Quad4-Software/MeshChatX/releases/download/v4.8.5/ReticulumMeshChatX-v4.8.5-linux-arm64.AppImage
	sha256sums_aarch64 = 7a469acc09a45874c906a37918fc83ddff0ea628243c75a2e904d40a281e257b

pkgname = meshchatx-bin
