pkgbase = meshchatx-bin
	pkgdesc = All-in-one Reticulum client (prebuilt AppImage)
	pkgver = 4.8.6
	pkgrel = 1
	url = https://github.com/Quad4-Software/MeshChatX
	install = meshchatx-bin.install
	arch = x86_64
	arch = aarch64
	license = 0BSD
	license = MIT
	depends = fuse2
	optdepends = noto-fonts-emoji: color emoji in the UI
	provides = meshchatx
	provides = reticulum-meshchatx
	conflicts = meshchatx-git
	replaces = meshchatx
	options = !strip
	options = !debug
	source = https://github.com/Quad4-Software/MeshChatX/archive/refs/tags/v4.8.6.tar.gz
	sha256sums = b8b8d7df45df8f183cb70899b00f2b35185d12db80d1535ec61111fbe293f422
	source_x86_64 = ReticulumMeshChatX-v4.8.6-linux-x86_64.AppImage::https://github.com/Quad4-Software/MeshChatX/releases/download/v4.8.6/ReticulumMeshChatX-v4.8.6-linux-x86_64.AppImage
	sha256sums_x86_64 = 21737cd0d1f4b2929f8fb55e53ab4fb2b6e98d92f2aad4360b4d8c9620d420bc
	source_aarch64 = ReticulumMeshChatX-v4.8.6-linux-arm64.AppImage::https://github.com/Quad4-Software/MeshChatX/releases/download/v4.8.6/ReticulumMeshChatX-v4.8.6-linux-arm64.AppImage
	sha256sums_aarch64 = f55cd79db629e63c2e56ce78058ab074599aeb01e97fbdcd5a23da12d5a37fc4

pkgname = meshchatx-bin
