pkgbase = meshchatx-bin
	pkgdesc = All-in-one Reticulum client (prebuilt AppImage)
	pkgver = 4.9.1
	pkgrel = 1
	url = https://github.com/Quad4-Software/MeshChatX
	install = meshchatx-bin.install
	arch = x86_64
	arch = aarch64
	license = 0BSD
	license = MIT
	depends = fuse2
	optdepends = noto-fonts-emoji: color emoji in the UI
	provides = meshchatx
	provides = reticulum-meshchatx
	conflicts = meshchatx-git
	replaces = meshchatx
	options = !strip
	options = !debug
	source = https://github.com/Quad4-Software/MeshChatX/archive/refs/tags/v4.9.1.tar.gz
	sha256sums = 75f078e635ea949e4db9a192b204ca77292777fe69f524a7ff2938d173e5a664
	source_x86_64 = ReticulumMeshChatX-v4.9.1-linux-x86_64.AppImage::https://github.com/Quad4-Software/MeshChatX/releases/download/v4.9.1/ReticulumMeshChatX-v4.9.1-linux-x86_64.AppImage
	sha256sums_x86_64 = ed3c706fc86b63136538e479c082ece39f3ed40cd67f6f5d62a8c9e47a6a1d2d
	source_aarch64 = ReticulumMeshChatX-v4.9.1-linux-arm64.AppImage::https://github.com/Quad4-Software/MeshChatX/releases/download/v4.9.1/ReticulumMeshChatX-v4.9.1-linux-arm64.AppImage
	sha256sums_aarch64 = f933d3de018992ccbd8ba419365033d330cc38d5ac91051b2dbfc2bd84770932

pkgname = meshchatx-bin
