pkgbase = pip-rns
	pkgdesc = Install Python packages from Reticulum rngit remotes
	pkgver = 1.5.0
	pkgrel = 1
	url = https://github.com/Quad4-Software/pip-rns
	install = pip-rns.install
	arch = any
	license = BSD-2-Clause
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	makedepends = python-hatchling
	depends = python
	options = !strip
	source = https://files.pythonhosted.org/packages/62/a6/ae1d9a3745822c2afbd6975ef0f5b2a1c286b3dfc9fb0a631609c5556cad/pip_rns-1.5.0.tar.gz
	sha256sums = bd0766be58c9528eb013c82bdc39639d83b5e4472a8ca8bab9c47167ede6e266

pkgname = pip-rns
