pkgbase = pip-rns
	pkgdesc = Install Python packages from Reticulum rngit remotes
	pkgver = 1.5.1
	pkgrel = 1
	url = https://github.com/Quad4-Software/pip-rns
	install = pip-rns.install
	arch = any
	license = BSD-2-Clause
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	makedepends = python-hatchling
	depends = python
	options = !strip
	source = https://files.pythonhosted.org/packages/5b/a2/fadc28ee054614fe421abbe0adee21f35e7f1d5562770b6ca61fd0ba9d9a/pip_rns-1.5.1.tar.gz
	sha256sums = 724c1b6f7829a8e8a5ee93e30240f04ca3fe1ea6967ee1045c161a3dd929f43c

pkgname = pip-rns
