out/
repo/
public/
pkg/*/src/
pkg/*/pkg/
pkg/*/*.pkg.tar.*
pkg/*/*.log
pkg/*/reticulum-go-*/
pkg/*/reticulum-go-linux-*
pkg/*/MeshChatX-*/
pkg/*/ReticulumMeshChatX-*
pkg/*/*.AppImage
*.tar.gz
*.tar.zst
.SRCINFO.bak
