pkgbase = reticulum-go-bin
	pkgdesc = Reticulum network stack (Go), prebuilt release binary
	pkgver = 1.4.1
	pkgrel = 1
	url = https://github.com/Quad4-Software/Reticulum-Go
	install = reticulum-go-bin.install
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = Apache-2.0
	makedepends = make
	provides = reticulum-go
	conflicts = reticulum-go-git
	replaces = reticulum-go
	options = !debug
	backup = var/lib/reticulum-go/config
	source = https://github.com/Quad4-Software/Reticulum-Go/archive/refs/tags/v1.4.1.tar.gz
	sha256sums = 37a1cba87eeb2bccf23a57b18dcc803702b1d95fd4afbb7552cc738fb30259a7
	source_x86_64 = reticulum-go-linux-amd64-1.4.1::https://github.com/Quad4-Software/Reticulum-Go/releases/download/v1.4.1/reticulum-go-linux-amd64
	sha256sums_x86_64 = fd559a9eb5390a97212cc9a8c689a5d5d33a97210dceed5562bb9c7d9c5950d7
	source_aarch64 = reticulum-go-linux-arm64-1.4.1::https://github.com/Quad4-Software/Reticulum-Go/releases/download/v1.4.1/reticulum-go-linux-arm64
	sha256sums_aarch64 = ed136ca6c60dae28c0b683220f21584c081d48e261c296a712d8adbc6b11a7f5
	source_armv7h = reticulum-go-linux-arm-1.4.1::https://github.com/Quad4-Software/Reticulum-Go/releases/download/v1.4.1/reticulum-go-linux-arm
	sha256sums_armv7h = 681a05e6e31aa1bb5a19c3ecc74e8ab8c7e2bf42540e81c506b4b1b2dbe28836

pkgname = reticulum-go-bin
