pkgbase = reticulum-go-bin
	pkgdesc = Reticulum network stack (Go), prebuilt release binary
	pkgver = 1.4.0
	pkgrel = 1
	url = https://github.com/Quad4-Software/Reticulum-Go
	install = reticulum-go-bin.install
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = Apache-2.0
	makedepends = make
	provides = reticulum-go
	conflicts = reticulum-go-git
	replaces = reticulum-go
	options = !debug
	backup = var/lib/reticulum-go/config
	source = https://github.com/Quad4-Software/Reticulum-Go/archive/refs/tags/v1.4.0.tar.gz
	sha256sums = cb530bebc4aad7f26f31f541605b1f7a33ae3b1e3f56255c71d3e6a22507c146
	source_x86_64 = reticulum-go-linux-amd64-1.4.0::https://github.com/Quad4-Software/Reticulum-Go/releases/download/v1.4.0/reticulum-go-linux-amd64
	sha256sums_x86_64 = 94534b8a3347dabf3b942226e831657bf8a56d45db919d5b5e0002bfd339908d
	source_aarch64 = reticulum-go-linux-arm64-1.4.0::https://github.com/Quad4-Software/Reticulum-Go/releases/download/v1.4.0/reticulum-go-linux-arm64
	sha256sums_aarch64 = 7f9fee8a654fbbb293ae8852a8d05fb37ab2e8a47b88a9231a9fe4218e351b15
	source_armv7h = reticulum-go-linux-arm-1.4.0::https://github.com/Quad4-Software/Reticulum-Go/releases/download/v1.4.0/reticulum-go-linux-arm
	sha256sums_armv7h = a66484e5f0ad0f798c5d7dfb02b9a2ab20e0bf5d5fcc64a383946ef15549bafa

pkgname = reticulum-go-bin
