pkgbase = meshchatx-testing-bin
	pkgdesc = All-in-one Reticulum client (prebuilt testing AppImage)
	pkgver = 4.9.0.2026.09.12.7dc3a09
	pkgrel = 1
	url = https://github.com/Quad4-Software/MeshChatX
	install = meshchatx-testing-bin.install
	arch = x86_64
	arch = aarch64
	license = 0BSD
	license = MIT
	depends = fuse2
	optdepends = noto-fonts-emoji: color emoji in the UI
	provides = meshchatx
	provides = reticulum-meshchatx
	conflicts = meshchatx-bin
	conflicts = meshchatx-git
	conflicts = meshchatx-beta-bin
	options = !strip
	options = !debug
	source = https://github.com/Quad4-Software/MeshChatX/archive/refs/tags/nightly-2026.09.12-7dc3a09.tar.gz
	sha256sums = d6689dd33de03852261edacb895d9b23c4972521ebb481407b12683ec82df5f7
	source_x86_64 = ReticulumMeshChatX-v4.9.0-linux-x86_64.AppImage::https://github.com/Quad4-Software/MeshChatX/releases/download/nightly-2026.09.12-7dc3a09/ReticulumMeshChatX-v4.9.0-linux-x86_64.AppImage
	sha256sums_x86_64 = 87ae7751adbae2d23110f14f85533758f586b27d2e49508bcc1b1ad646a4d866
	source_aarch64 = ReticulumMeshChatX-v4.9.0-linux-arm64.AppImage::https://github.com/Quad4-Software/MeshChatX/releases/download/nightly-2026.09.12-7dc3a09/ReticulumMeshChatX-v4.9.0-linux-arm64.AppImage
	sha256sums_aarch64 = 4b4d60b6c26dbc586c3e3f1bf92d5280ea8048ec5220716caa9101ef2ccd6976

pkgname = meshchatx-testing-bin
