pkgbase = meshchatx-testing-bin
	pkgdesc = All-in-one Reticulum client (prebuilt testing AppImage)
	pkgver = 4.9.4.2026.10.02.5946f6c
	pkgrel = 1
	url = https://github.com/Quad4-Software/MeshChatX
	install = meshchatx-testing-bin.install
	arch = x86_64
	arch = aarch64
	license = 0BSD
	license = MIT
	depends = fuse2
	optdepends = noto-fonts-emoji: color emoji in the UI
	provides = meshchatx
	provides = reticulum-meshchatx
	conflicts = meshchatx-bin
	conflicts = meshchatx-git
	conflicts = meshchatx-beta-bin
	options = !strip
	options = !debug
	source = https://github.com/Quad4-Software/MeshChatX/archive/refs/tags/nightly-2026.10.02-5946f6c.tar.gz
	sha256sums = 396d921297839c15eaa954cdbb7de3e00a98ca403d636cdd9052ffb3e228baff
	source_x86_64 = ReticulumMeshChatX-v4.9.4-linux-x86_64.AppImage::https://github.com/Quad4-Software/MeshChatX/releases/download/nightly-2026.10.02-5946f6c/ReticulumMeshChatX-v4.9.4-linux-x86_64.AppImage
	sha256sums_x86_64 = f9128e8aa9ea14f472dc49ebc7de901763ce900da676cdd27f2f31bd71bd595c
	source_aarch64 = ReticulumMeshChatX-v4.9.4-linux-arm64.AppImage::https://github.com/Quad4-Software/MeshChatX/releases/download/nightly-2026.10.02-5946f6c/ReticulumMeshChatX-v4.9.4-linux-arm64.AppImage
	sha256sums_aarch64 = 45ab8ec4a634fad9a0e225c4a093f32e11aa43da27f23943a4214395a5837f37

pkgname = meshchatx-testing-bin
