pkgbase = meshchatx-testing-bin
	pkgdesc = All-in-one Reticulum client (prebuilt testing AppImage)
	pkgver = 4.9.1.2026.09.22.8366881
	pkgrel = 1
	url = https://github.com/Quad4-Software/MeshChatX
	install = meshchatx-testing-bin.install
	arch = x86_64
	arch = aarch64
	license = 0BSD
	license = MIT
	depends = fuse2
	optdepends = noto-fonts-emoji: color emoji in the UI
	provides = meshchatx
	provides = reticulum-meshchatx
	conflicts = meshchatx-bin
	conflicts = meshchatx-git
	conflicts = meshchatx-beta-bin
	options = !strip
	options = !debug
	source = https://github.com/Quad4-Software/MeshChatX/archive/refs/tags/nightly-2026.09.22-8366881.tar.gz
	sha256sums = 8aa7f34fa608ddc9b5e3b269ed577ee501fd55297e1e20708cbe3be9e0f6b4f7
	source_x86_64 = ReticulumMeshChatX-v4.9.1-linux-x86_64.AppImage::https://github.com/Quad4-Software/MeshChatX/releases/download/nightly-2026.09.22-8366881/ReticulumMeshChatX-v4.9.1-linux-x86_64.AppImage
	sha256sums_x86_64 = dbebe82e8fea1a35a5f4e3caad1eaa17c8890d6888531468e01854266f73954b
	source_aarch64 = ReticulumMeshChatX-v4.9.1-linux-arm64.AppImage::https://github.com/Quad4-Software/MeshChatX/releases/download/nightly-2026.09.22-8366881/ReticulumMeshChatX-v4.9.1-linux-arm64.AppImage
	sha256sums_aarch64 = 2f582565456ec558edd664baf8e864fdfc74bdc0ad362e3969744f28cf83ad62

pkgname = meshchatx-testing-bin
