pkgbase = rns
	pkgdesc = Reticulum Network Stack (Python)
	pkgver = 1.5.4
	pkgrel = 1
	url = https://reticulum.network/
	install = rns.install
	arch = any
	license = custom:Reticulum
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-cryptography
	depends = python-pyserial
	options = !strip
	source = https://files.pythonhosted.org/packages/91/15/517d2e63e876a677088673853f9c947340cd2056716328f3ba4e888ae47c/rns-1.5.4.tar.gz
	sha256sums = 578508ef08dedf7c109f73a445065ca89c50a63c6a69ced7b147ed20391ceb15

pkgname = rns
