pkgbase = rns
	pkgdesc = Reticulum Network Stack (Python)
	pkgver = 1.5.7
	pkgrel = 1
	url = https://reticulum.network/
	install = rns.install
	arch = any
	license = custom:Reticulum
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-cryptography
	depends = python-pyserial
	options = !strip
	source = https://files.pythonhosted.org/packages/eb/62/ec929e1a614e0d9f5266f816d73a060eb6b0c89f6684e9ef0b7bedcac17d/rns-1.5.7.tar.gz
	sha256sums = 2bb48232e0a10b59b2b21b60e76592362210cdabd343d7b97a3bf1aba22dd879

pkgname = rns
