pkgbase = reticulum-go
	pkgdesc = Reticulum network stack (Go), prebuilt release binary
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/Quad4-Software/Reticulum-Go
	install = reticulum-go.install
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = Apache-2.0
	makedepends = make
	provides = reticulum-go
	conflicts = reticulum-go-git
	options = !debug
	backup = var/lib/reticulum-go/config
	source = https://github.com/Quad4-Software/Reticulum-Go/archive/refs/tags/v1.0.1.tar.gz
	sha256sums = 6a1f75d8011d258546d504f4a64b23f1d9dd3e07cc8655c92b5fba5a21bac0c6
	source_x86_64 = reticulum-go-linux-amd64-1.0.1::https://github.com/Quad4-Software/Reticulum-Go/releases/download/v1.0.1/reticulum-go-linux-amd64
	sha256sums_x86_64 = b86e2b8888a4b520c5e6538a35a69922fa5ac9d8c69504a486236c061cbd716e
	source_aarch64 = reticulum-go-linux-arm64-1.0.1::https://github.com/Quad4-Software/Reticulum-Go/releases/download/v1.0.1/reticulum-go-linux-arm64
	sha256sums_aarch64 = aeffa840f84b9e9709918544123dec79ab12668d783635a72e24e4b4f45e5852
	source_armv7h = reticulum-go-linux-arm-1.0.1::https://github.com/Quad4-Software/Reticulum-Go/releases/download/v1.0.1/reticulum-go-linux-arm
	sha256sums_armv7h = 75b0be9164a5b87c29af832df2430d3199ba51a5fd49e17bb7ead41a51d04326

pkgname = reticulum-go
