pkgbase = reticulum-go
	pkgdesc = Reticulum network stack (Go), prebuilt release binary
	pkgver = 1.1.1
	pkgrel = 1
	url = https://github.com/Quad4-Software/Reticulum-Go
	install = reticulum-go.install
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = Apache-2.0
	makedepends = make
	provides = reticulum-go
	conflicts = reticulum-go-git
	options = !debug
	backup = var/lib/reticulum-go/config
	source = https://github.com/Quad4-Software/Reticulum-Go/archive/refs/tags/v1.1.1.tar.gz
	sha256sums = e3f96d060af3239a8b2e369bbf08956369bb557518591ed4683c98f03a652124
	source_x86_64 = reticulum-go-linux-amd64-1.1.1::https://github.com/Quad4-Software/Reticulum-Go/releases/download/v1.1.1/reticulum-go-linux-amd64
	sha256sums_x86_64 = da87f69abe345fdf28a7d485aad69a0276a96ba0e86d1b9c1f415aefc13042dd
	source_aarch64 = reticulum-go-linux-arm64-1.1.1::https://github.com/Quad4-Software/Reticulum-Go/releases/download/v1.1.1/reticulum-go-linux-arm64
	sha256sums_aarch64 = 878440210e4eda66a4e331dec9516253c85249468a512b8750a67b23d17c7f8e
	source_armv7h = reticulum-go-linux-arm-1.1.1::https://github.com/Quad4-Software/Reticulum-Go/releases/download/v1.1.1/reticulum-go-linux-arm
	sha256sums_armv7h = 7d1ebb64ab6e266f658343f708f6136640b3a21540342aa0eba77bc61ac02244

pkgname = reticulum-go
