pkgbase = rns-page-node
	pkgdesc = Serve pages and files over the Reticulum network
	pkgver = 1.7.0
	pkgrel = 1
	url = https://github.com/Quad4-Software/rns-page-node
	install = rns-page-node.install
	arch = any
	license = GPL-3.0-only
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	makedepends = python-poetry-core
	depends = python
	depends = rns
	depends = python-cryptography
	options = !strip
	source = https://files.pythonhosted.org/packages/e6/1c/404f3e3a4de8bbcd09abfc78905d4fb56c4cd25674763170b71cc0c7d26b/rns_page_node-1.7.0.tar.gz
	sha256sums = a8e602d07c5fd1897186ece6248b48411e8bdbdcee832036065b1df879b8c36e

pkgname = rns-page-node
