pkgbase = golxmd-git
	pkgdesc = Go LXMF daemon from reticulum-go-protocols, built from git
	pkgver = r0.g0000000
	pkgrel = 1
	url = https://github.com/Quad4-Software/reticulum-go-protocols
	install = golxmd-git.install
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = 0BSD
	makedepends = git
	makedepends = go
	makedepends = make
	provides = golxmd
	conflicts = golxmd-bin
	conflicts = golxmd
	options = !debug
	source = git+https://github.com/Quad4-Software/reticulum-go-protocols.git#branch=master
	sha256sums = SKIP

pkgname = golxmd-git
