pkgbase = lxmfy
	pkgdesc = LXMF bot framework for the Reticulum Network
	pkgver = 2.1.1
	pkgrel = 1
	url = https://github.com/Quad4-Software/LXMFy
	install = lxmfy.install
	arch = any
	license = 0BSD
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	makedepends = python-poetry-core
	depends = python
	depends = rns
	depends = lxmf
	depends = python-cbor2
	options = !strip
	source = https://files.pythonhosted.org/packages/be/be/bfbefd06a9aa4b7ee596c488688397e05a1cdf6cb0df1fc3c6deea3807f6/lxmfy-2.1.1.tar.gz
	sha256sums = 6f1001a5988b6094f23734ccd313a704b201aafc0eb945ddf4d8f88193301be3

pkgname = lxmfy
