pkgbase = lyra-bin
	pkgdesc = Privacy-focused Firefox ESR fork (prebuilt release)
	pkgver = 0.1.0
	pkgrel = 1
	epoch = 1
	url = https://github.com/lyrabrowserhq/lyra-browser
	install = lyra-bin.install
	arch = x86_64
	license = MPL-2.0
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus-glib
	depends = ffmpeg
	depends = fontconfig
	depends = freetype2
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxrandr
	depends = libxss
	depends = libxt
	depends = mime-types
	depends = nspr
	depends = nss
	depends = pango
	depends = ttf-font
	optdepends = hunspell-en_US: spell checking
	optdepends = libnotify: notification integration
	optdepends = libpulse: audio
	optdepends = speech-dispatcher: text to speech
	optdepends = xdg-desktop-portal: screensharing and file portals
	provides = lyra
	conflicts = lyra-git
	replaces = lyra
	options = !strip
	options = !debug
	options = !emptydirs
	source = https://github.com/lyrabrowserhq/lyra-browser/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = 4deef5ee24131d7f3f7981f06c3a03c7a570c9f4885a386e3512408baebed6cf
	source_x86_64 = lyra-0.1.0-linux-x86_64.tar.xz::https://github.com/lyrabrowserhq/lyra-browser/releases/download/v0.1.0/lyra-0.1.0-linux-x86_64.tar.xz
	sha256sums_x86_64 = 44815a74ef0c9cc0fd20ef1ccbd8f5083b0833f5e8ecb1714ed3b99a04bec161

pkgname = lyra-bin
