pkgbase = gorrcd-bin
	pkgdesc = Go RRC hub daemon from reticulum-go-protocols
	pkgver = 2026.09.27.8abaa51
	pkgrel = 1
	url = https://github.com/Quad4-Software/reticulum-go-protocols
	install = gorrcd-bin.install
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = 0BSD
	provides = gorrcd
	conflicts = gorrcd-git
	replaces = gorrcd
	options = !strip
	options = !debug
	source_x86_64 = gorrcd-linux-amd64-2026.09.27.8abaa51::https://github.com/Quad4-Software/reticulum-go-protocols/releases/download/preview-2026.09.27-8abaa51/gorrcd-linux-amd64
	sha256sums_x86_64 = b70c648196bffd2983d920999127d529f222e6f490053480de5526b64e11c653
	source_aarch64 = gorrcd-linux-arm64-2026.09.27.8abaa51::https://github.com/Quad4-Software/reticulum-go-protocols/releases/download/preview-2026.09.27-8abaa51/gorrcd-linux-arm64
	sha256sums_aarch64 = 143f494fc3a9fac433ff0e7ba32f4c9b878988e19b8dc1bc8ffe65047a9ac508
	source_armv7h = gorrcd-linux-armv6-2026.09.27.8abaa51::https://github.com/Quad4-Software/reticulum-go-protocols/releases/download/preview-2026.09.27-8abaa51/gorrcd-linux-armv6
	sha256sums_armv7h = 3a828c5ccd1b3d676e04aeb40a6e495d855ecfcfe217eeb9180b351bf020c4da

pkgname = gorrcd-bin
