pkgbase = meshchatx-git
	pkgdesc = All-in-one Reticulum client, built from git
	pkgver = 4.8.5.r0.g0000000
	pkgrel = 1
	url = https://github.com/Quad4-Software/MeshChatX
	install = meshchatx-git.install
	arch = x86_64
	arch = aarch64
	license = 0BSD
	license = MIT
	makedepends = git
	makedepends = go
	makedepends = nodejs
	makedepends = pnpm
	makedepends = python
	makedepends = python-pip
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = opus
	depends = opusfile
	depends = portaudio
	depends = espeak-ng
	depends = nss
	depends = gtk3
	depends = libnotify
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = libsecret
	depends = alsa-lib
	optdepends = noto-fonts-emoji: color emoji in the UI
	provides = meshchatx
	provides = reticulum-meshchatx
	conflicts = meshchatx-bin
	conflicts = meshchatx
	options = !strip
	options = !debug
	source = git+https://github.com/Quad4-Software/MeshChatX.git#branch=master
	sha256sums = SKIP
	source_x86_64 = tinygo-0.42.0-linux-amd64.tar.gz::https://github.com/tinygo-org/tinygo/releases/download/v0.42.0/tinygo0.42.0.linux-amd64.tar.gz
	sha256sums_x86_64 = b87688fa2e19cee7d813cad7fd7dadb71dff3198e47125aba66ba4af5e490438
	source_aarch64 = tinygo-0.42.0-linux-arm64.tar.gz::https://github.com/tinygo-org/tinygo/releases/download/v0.42.0/tinygo0.42.0.linux-arm64.tar.gz
	sha256sums_aarch64 = f2f3f863e63728b87772e7306bd6030df6e6c89773a7082eb0122113cf9e453d

pkgname = meshchatx-git
