pkgbase = meshchatx-git
	pkgdesc = All-in-one Reticulum client, built from git
	pkgver = 4.8.2.r0.g0000000
	pkgrel = 1
	url = https://github.com/Quad4-Software/MeshChatX
	install = meshchatx-git.install
	arch = x86_64
	arch = aarch64
	license = 0BSD
	license = MIT
	makedepends = git
	makedepends = nodejs
	makedepends = pnpm
	makedepends = python
	makedepends = python-pip
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = opus
	depends = opusfile
	depends = portaudio
	depends = espeak-ng
	depends = nss
	depends = gtk3
	depends = libnotify
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = libsecret
	depends = alsa-lib
	optdepends = noto-fonts-emoji: color emoji in the UI
	provides = meshchatx
	provides = reticulum-meshchatx
	conflicts = meshchatx
	options = !strip
	options = !debug
	source = git+https://github.com/Quad4-Software/MeshChatX.git#branch=master
	sha256sums = SKIP

pkgname = meshchatx-git
