pkgbase = meshchatx-beta-bin
	pkgdesc = All-in-one Reticulum client (prebuilt beta AppImage)
	pkgver = 4.10.2.2026.10.06.1d0b572
	pkgrel = 1
	url = https://github.com/Quad4-Software/MeshChatX
	install = meshchatx-beta-bin.install
	arch = x86_64
	arch = aarch64
	license = 0BSD
	license = MIT
	depends = fuse2
	optdepends = noto-fonts-emoji: color emoji in the UI
	provides = meshchatx
	provides = reticulum-meshchatx
	conflicts = meshchatx-bin
	conflicts = meshchatx-git
	conflicts = meshchatx-testing-bin
	options = !strip
	options = !debug
	source = https://github.com/Quad4-Software/MeshChatX/archive/refs/tags/beta-2026.10.06-1d0b572.tar.gz
	sha256sums = 337f1d3236a34809967d2d4868baba9253c5dce3df7d8af4d46b469183e97321
	source_x86_64 = ReticulumMeshChatX-v4.10.2-linux-x86_64.AppImage::https://github.com/Quad4-Software/MeshChatX/releases/download/beta-2026.10.06-1d0b572/ReticulumMeshChatX-v4.10.2-linux-x86_64.AppImage
	sha256sums_x86_64 = 563e7f00acda2785ca6c21f9d327b44e29031c337b566b09308c0e46812c4f1f
	source_aarch64 = ReticulumMeshChatX-v4.10.2-linux-arm64.AppImage::https://github.com/Quad4-Software/MeshChatX/releases/download/beta-2026.10.06-1d0b572/ReticulumMeshChatX-v4.10.2-linux-arm64.AppImage
	sha256sums_aarch64 = ec9a7480683f4040579a7ce357b828bb153d3add1a4563ced860322261839547

pkgname = meshchatx-beta-bin
