pkgbase = nomadnet
	pkgdesc = Off-grid encrypted messaging client for Reticulum
	pkgver = 1.4.0
	pkgrel = 1
	url = https://github.com/markqvist/nomadnet
	install = nomadnet.install
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = rns
	depends = lxmf
	depends = python-urwid
	depends = python-qrcode
	options = !strip
	source = https://files.pythonhosted.org/packages/5d/f7/48333258a1bc5ca4eaa80a3eb71bb742136bedb7f37c7f25c0439b529de0/nomadnet-1.4.0.tar.gz
	sha256sums = 6cdb4d1f4db23d03ee2088f748ddd9344497108ff69fb5f7e5bca5d46472955a

pkgname = nomadnet
