pkgbase = nullray-bin
	pkgdesc = Lightweight coding agent with a custom TUI
	pkgver = 0.6.1
	pkgrel = 1
	url = https://github.com/Quad4-Software/nullray
	install = nullray-bin.install
	arch = x86_64
	arch = aarch64
	license = 0BSD
	provides = nullray
	conflicts = nullray-git
	replaces = nullray
	options = !debug
	source = https://github.com/Quad4-Software/nullray/archive/refs/tags/v0.6.1.tar.gz
	sha256sums = 826f6cb73d34aa07529e4936d911d2e8ea7e65937db5707b5c54ff97715cc0a8
	source_x86_64 = nullray_0.6.1_linux_amd64.tar.gz::https://github.com/Quad4-Software/nullray/releases/download/v0.6.1/nullray_0.6.1_linux_amd64.tar.gz
	sha256sums_x86_64 = 059ffcbdadf1109e0361b59d7dc1ba157bd34e8814617ececc40c3a1e9e5ce65
	source_aarch64 = nullray_0.6.1_linux_arm64.tar.gz::https://github.com/Quad4-Software/nullray/releases/download/v0.6.1/nullray_0.6.1_linux_arm64.tar.gz
	sha256sums_aarch64 = 607c3bdffe6b8b81e687a31bfc508241e888c7b4d3ae152a55862ad3388fc846

pkgname = nullray-bin
